[submodule "language/rapidsnark"]
	path = language/rapidsnark
	url = https://github.com/iden3/rapidsnark.git
[submodule "language/circom"]
	path = language/circom
	url = https://github.com/iden3/circom.git
[submodule "language/snarkjs"]
	path = language/snarkjs
	url = https://github.com/iden3/snarkjs.git
